@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<h2>Home Page</h2>
<form action="/home/register">
    <label for="fname">New User?</label><br><br>
    <input type="submit" value="Register">
</form>
<br>
<br>
<br>
<br>
<form action="/home/login">
    <label for="fname">Existing User?</label><br><br>
    <input type="submit" value="Login">
</form>
